@font-face{
	font-family: Narrow;
	src:url(HelveticaNarrow.ttf);
}
@font-face{
	font-family: MontBold;
	src:url(Montserrat-ExtraBold.otf);
}
@font-face{
	font-family: MontSemiBold;
	src:url(Montserrat-SemiBold.otf);
}
@font-face{
	font-family: MontRegulat;
	src:url(Montserrat-Regular.otf);
}
body{
    background-color:#000000;
    color:#ffffff;
    overflow:hidden;
}
h2{
    font-family: MontBold, Arial, Helvetica, sans-serif;
}
h5{
    font-family: MontSemiBold, Arial, Helvetica, sans-serif;
}
#footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:10%;
    background: url(../images/dust-power.png) no-repeat center;
    -webkit-background-size:contain;
    -moz-background-size:contain;
    background-size:contain;
    z-index:2;
    cursor:pointer;
}
#map{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1;
}
.form{
    position:fixed;
    top:51px;
    height:auto;
    overflow-x:hidden;
    overflow-y:auto;
    left:125%;
    box-shadow:0px 0px 10px #ffffff;
    padding-left:15px;
    padding-right:15px;
    width:50%;
    z-index:2;
    background:rgba(255,255,255,0.95);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    color:#333333;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.form[active="true"]{
    left:25%;
}
#logo{
    position:fixed;
    top:22px;
    left:45%;
    width:10%;
    height:60px;
    background:url(../images/dust-logo.png) no-repeat center;
    -webkit-background-size:contain;
    -moz-background-size:contain;
    background-size:contain;
    z-index:2000;
    cursor:pointer;
}
/* input[type="text"],input[type="password"]{
    border:0;
    padding:3px;
    border-bottom:1px solid #E64D1E;
    background:rgba(255,255,255,0.0);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    color:#333333;
    width:100%;
    height:30px;
    outline:0;
    margin:0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
input[type="text"]:hover,input[type="password"]:hover,input[type="password"]:focus,input[type="text"]:focus{
    border-bottom:2px solid #E64D1E;
    background:rgba(255,255,255,0.5);
}
textarea{
    width:100%;
    border:0;
    font-family: Arial, Helvetica, sans-serif;
    color:#333333;
    background:rgba(255,255,255,0.0);
    outline:0;
    margin:0;
    padding:3px;
    border-bottom:1px solid #E64D1E;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
textarea:focus,textarea:hover{
    border-bottom:2px solid #E64D1E;
    background:rgba(255,255,255,0.5);
} */
.form-control{
    box-shadow:0px 0px 6px #CCCCCC;
}
.form-control:focus{
    border:1px solid #E64D1E;
}
.button{
    padding:10px;
    max-width:200px;
    min-width:100px;
    background-color:#E64D1E;
    color:#ffffff;
    font-weight:bold;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    border:3px solid rgba(255,255,255,0.0);
    outline:0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.button:hover{
    background-color:#ffffff;
    color:#E64D1E;
    border:3px solid #E64D1E;
}
.lead{
    font-family: MontRegular, Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 480px) {
    .form{
        left:100%;
        width:100%;
    }
    .form[active="true"]{
        left:0;
        width:100%;
    }
}