{% extends "layout.html" %}
{% block content %}
<body ng-app="dust" ng-controller="mail" ng-init="loadMap()">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            {# <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="images/dust-logo.png" class="img-responsive" width=80></a>
            </div> #}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#"><img src="images/medium_icon.png" class="img-responsive" style="width:25px" alt="Dust Medium"></a></li>
                    <li><a href="#"><img src="images/insta_icon.png" class="img-responsive" style="width:20px" alt="Dust Instagram"></a></li>
                    <li><a href="#"><img src="images/fb_icon.png" class="img-responsive" style="height:25px;" alt="Dust Facebook"></a></li>
                    <li><a href="#"><img src="images/twitter_icon.png" class="img-responsive" style="width:25px;" alt="Dust Twitter"></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="map"></div>
    <div class="form" id="find">
        <div class="container-fluid">
            <br>
            <h1 class="text-center">Email Awesome Developers for $1.</h1>
            <h5 class="text-center">They've got credentials from institutions like these.</h5>
            <hr>
            <div id="credlist"></div>
            <hr>
            <form>
                <div class="form-group">
                    <label for="subject">1. Title your pitch</label>
                    <input type="text" name="subject" id="subject" placeholder="Wanna help get this MVP built?">
                </div>
                <div class="form-group">
                    <label for="desc">2. Compose your pitch (keep it short)</label>
                    <textarea rows=10 name="desc" id="desc" placeholder="Hi!
I have this idea for a simple MVP that I’d like to get built. It lets non-developers email developers to help them get their ideas built. For $1 you can email 10 of them, and for every additional $1, you can email 10 more developers. It’s free for developers. They just sign up and get emails straight to their inbox. You think we can get this up and running in a few days for a few hundred dollars?
Can we hop on a call and talk about this more?
Best,
Dustin Smith"></textarea>
                </div>
                <div class="form-group" ng-init="devcount=10">
                    <label for="devcount">3. Select how many developers to email</label>
                    <p class="text-center lead">Email {[{devcount}]} devs for ${[{devcount/10}]}</p>
                    <input type="range" class="form-control" name="devcount" id="devcount" ng-model="devcount" min=10 max=100 step=10>
                </div>
                <hr>
                <div class="text-center">
                    <button type="button" class="button">Send for just ${[{devcount/10}]}!</button>
                </div>
            </form>
            <div style="height:50px;"></div>
        </div>
    </div>
    <div id="logo"></div>
    <div class="container-fluid">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
</body>
{% endblock %}