{% extends "layout.html" %}
{% block content %}
<body ng-app="dust" ng-controller="mail" onload="mover('find')" ng-init="loadMap()" >
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            {# <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="images/dust-logo.png" class="img-responsive" width=80></a>
            </div> #}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                {# <a class="navbar-brand" href="#"></a> #}
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="https://medium.com/dusthq" target="_blank"><img src="images/medium_icon.png" class="img-responsive" style="width:20px" alt="Dust Medium"></a></li>
                    <li><a href="https://instagram.com/dusthq" target="_blank"><img src="images/insta_icon.png" class="img-responsive" style="width:18px" alt="Dust Instagram"></a></li>
                    <li><a href="https://facebook.com/thedustmakers" target="_blank"><img src="images/fb_icon.png" class="img-responsive" style="height:16px;" alt="Dust Facebook"></a></li>
                    <li><a href="https://twitter.com/thedustmakers" target="_blank"><img src="images/twitter_icon.png" class="img-responsive" style="width:20px;" alt="Dust Twitter"></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#" style="background-color:#E64D1E;font-weight:bold;">Developer sign up</a></li>
                    <li><a href="#" style="color:#ffffff;">Sign Up</a></li>
                    <li><a href="#" style="color:#ffffff;">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="map"></div>
    <div class="form" id="find">
        <div class="container-fluid">
            <br>
            <h2 class="text-center">Email Awesome Developers for $1.</h2>
            <h5 class="text-center">They've got credentials from top institutions like these.</h5>
            <hr>
            <div id="credlist"></div>
            <hr>
            <form>
                <div class="form-group">
                    <label for="subject">Email subject</label>
                    <input type="text" name="subject" class="form-control" id="subject" placeholder="Wanna help me get my MVP built?">
                </div>
                <div class="form-group">
                    <label for="desc">Email body</label>
                    <textarea rows=6 name="desc" class="form-control" id="desc" placeholder="Hi! 

I have this really cool idea I’d like to get an MVP built for. 

Can we hop on a call and talk about this more?"></textarea>
                </div>
                <div class="form-group" ng-init="devcount=10">
                    <label for="devcount">Audience and budget</label>
                    <div class="well" style="background-color:#ffffff;box-shadow:0px 0px 6px #cccccc;border:1px solid #CBCBCB;">
                        <p class="text-center lead">Email {[{devcount}]} developers for ${[{devcount/10}]}</p>
                        <input type="range" name="devcount" id="devcount" ng-model="devcount" min=10 max=100 step=10>
                        <br>
                        <br>
                    </div>
                </div>
                <br>
                <div class="text-right">
                    <button type="button" class="button">Send</button>
                </div>
            </form>
            <div style="height:50px;"></div>
        </div>
    </div>
    <div id="logo"></div>
    <div class="container-fluid">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
</body>
{% endblock %}