{% extends "layout.html" %}
{% block content %}
<body ng-app="dust" ng-controller="mail" onload="readParams();" ng-init="checkURL();loadMap();getUser();" >
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            {# <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="images/dust-logo.png" class="img-responsive" width=80></a>
            </div> #}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                {# <a class="navbar-brand" href="#"></a> #}
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="https://medium.com/dusthq" target="_blank"><img src="images/medium_icon.png" class="img-responsive" style="width:20px" alt="Dust Medium"></a></li>
                    <li><a href="https://instagram.com/dusthq" target="_blank"><img src="images/insta_icon.png" class="img-responsive" style="width:18px" alt="Dust Instagram"></a></li>
                    <li><a href="https://facebook.com/thedustmakers" target="_blank"><img src="images/fb_icon.png" class="img-responsive" style="height:16px;" alt="Dust Facebook"></a></li>
                    <li><a href="https://twitter.com/thedustmakers" target="_blank"><img src="images/twitter_icon.png" class="img-responsive" style="width:20px;" alt="Dust Twitter"></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-init="signText='';">
                    <li><a href="#" style="color:#ffffff;display:none;" data-toggle="tooltip" title="Filter through profiles" data-placement="auto" onclick="mover('filter')">Filters</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:#ffffff;display:none;">Broadcast lists <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="devbroadcast" ng-click="admin_id=11;" onclick="mover('find')">Broadcast to developers</a></li>
                            <li><a href="#" id="nondevbroadcast" ng-click="admin_id=21;" onclick="mover('findfounders')">Broadcast to non-developers</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="javascript:void(0)" style="background-color:#E64D1E;font-weight:bold;" onclick="mover('registration')" ng-click="admin_id=21;signText=' as a developer';" class="loginoptions">Developer sign up</a></li>
                    <li><a href="javascript:void(0)" style="color:#ffffff;" onclick="mover('registration')" ng-click="admin_id=11;signText='';" class="loginoptions">Sign Up</a></li>
                    <li><a href="javascript:void(0)" style="color:#ffffff;" onclick="mover('login')" class="loginoptions">Login</a></li>
                    <li style="display:none;"><a href="logout" style="color:#ffffff;" id="logoutbutton">Logout</a></li>
                    <li><a href="mailto:dust@dusthq.com" style="color:#ffffff;" data-toggle="tooltip" title="dust@dusthq.com" data-placement="auto">Contact us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="map"></div>
    <div class="form" id="find">
        <div class="container-fluid">
            <br>
            <h2 class="text-center">Email Awesome Developers for $1.</h2>
            <h5 class="text-center">They've got credentials from top institutions like these.</h5>
            <hr>
            <div id="credlist"></div>
            <hr>
            <div class="message"></div>
            <form>
                <div class="form-group">
                    <label for="subject">Email subject</label>
                    <input type="text" name="subject" class="form-control" id="subject" placeholder="Wanna work on a cool project?">
                    <div id="subjectmessage" class="text-danger small" style="margin-top:3px;"></div>
                </div>
                <div class="form-group">
                    <label for="desc">Email body</label>
                    <textarea rows=6 name="desc" class="form-control" id="desc" placeholder="Keep it simple. Keep it short."></textarea>
                    <div id="bodymessage" class="text-danger small" style="margin-top:3px;"></div>
                </div>
                <div class="form-group" ng-init="devcount=20">
                    <label for="devcount">Audience and budget</label>
                    <div class="well" style="background-color:#ffffff;box-shadow:0px 0px 6px #cccccc;border:1px solid #CBCBCB;">
                        <p class="text-center lead">Email {[{devcount}]} developers for ${[{devcount/20}]}</p>
                        <input type="range" name="devcount" id="devcount" ng-model="devcount" min=20 max=200 step=20>
                        <br>
                        <p class="text-center" id="coupon"></p>
                        <br>
                    </div>
                </div>
                <div class="form-group">
                    <label for="couponcode">Coupon code</label>
                    <input type="text" name="couponcode" class="form-control" id="couponcode" placeholder="CODE" ng-blur="checkCode()">
                </div>
                <br>
                <div class="text-right" ng-init="getRandomCoupon()">
                    <button type="button" class="button" ng-click="validateRequest()">Continue</button>
                </div>
            </form>
            <div style="height:50px;"></div>
        </div>
    </div>
    <div class="form" id="findfounders">
        <div class="container-fluid">
            <br>
            <h2 class="text-center">Email Awesome non-developers for $1.</h2>
            <h5 class="text-center">They've got credentials from top institutions like these.</h5>
            <hr>
            <div id="devcredlist"></div>
            <hr>
            <div class="message"></div>
            <form>
                <div class="form-group">
                    <label for="devsubject">Email subject</label>
                    <input type="text" name="devsubject" class="form-control" id="devsubject" placeholder="Need help on a project? Check out things I've built.">
                    <div id="devsubjectmessage" class="text-danger small" style="margin-top:3px;"></div>
                </div>
                <div class="form-group">
                    <label for="devdesc">Email body</label>
                    <textarea rows=6 name="devdesc" class="form-control" id="devdesc" placeholder="Keep it simple. Keep it short."></textarea>
                    <div id="devbodymessage" class="text-danger small" style="margin-top:3px;"></div>
                </div>
                <div class="form-group" ng-init="nondevcount=20">
                    <label for="nondevcount">Audience and budget</label>
                    <div class="well" style="background-color:#ffffff;box-shadow:0px 0px 6px #cccccc;border:1px solid #CBCBCB;">
                        <p class="text-center lead">Email {[{nondevcount}]} non-developers for ${[{nondevcount/20}]}</p>
                        <input type="range" name="nondevcount" id="nondevcount" ng-model="nondevcount" min=20 max=200 step=20>
                        <br>
                        <p class="text-center" id="devcoupon"></p>
                        <br>
                    </div>
                </div>
                <div class="form-group">
                    <label for="devcouponcode">Coupon code</label>
                    <input type="text" name="devcouponcode" class="form-control" id="devcouponcode" placeholder="CODE" ng-blur="checkCode()">
                </div>
                <br>
                <div class="text-right" ng-init="getRandomCoupon()">
                    <button type="button" class="button" ng-click="validateDevRequest()">Continue</button>
                </div>
            </form>
            <div style="height:50px;"></div>
        </div>
    </div>
    <div class="form" id="registration">
        <div class="container-fluid">
            <br>
            <h2 class="text-center">Sign up{[{signText}]}</h2>
            {# <div id="switch" class="text-center">Are you a developer? <a href="#" ng-click="admin_id=21;signText=' as a developer';" onclick="mover('registration');">Sign up here</a></div> #}
            <hr>
            <div class="message"></div>
            <form autocomplete="off">
                <div class="form-group">
                    <label for="name">Your name</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your full name">
                </div>
                <div class="form-group">
                    <label for="email">Email ID</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="A valid email ID">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="At least 8 characters">
                </div>
                <div class="form-group">
                    <label for="password2">Repeat password</label>
                    <input type="password" name="password2" id="password2" class="form-control" placeholder="Repeat the password">
                </div>
                <div class="form-group">
                    <label for="location">Current location</label><br>
                    <span id="location"><button type="button" class="btn btn-defaultt btn-info" ng-click="getCurrentLocation()"><span class="glyphicon glyphicon-screenshot"></span> Detect location</button></span>
                </div>
                <br>
                <div class="text-right">
                    <button type="button" class="button" id="sendbut" ng-click="registerUser()">Sign up</button><br><br>
                    <a href="#!login" onclick="mover('login')">Already have an account?</a>
                </div>
            </form>
            <div style="height:50px;"></div>
        </div>
    </div>
    <div class="form" id="login">
        <div class="container-fluid">
            <br>
            <h2 class="text-center">Login to your account</h2>
            <hr>
            <div class="message"></div>
            <form>
                <div class="form-group">
                    <label for="user_email">Email ID</label>
                    <input type="email" name="user_email" id="user_email" class="form-control" placeholder="A valid email ID">
                </div>
                <div class="form-group">
                    <label for="user_password">Password</label>
                    <input type="password" name="user_password" id="user_password" class="form-control" placeholder="At least 8 characters">
                </div>
                <br>
                <div class="text-right">
                    <button type="button" class="button" ng-click="loginUser()" id="loginbut">Login</button><br><br>
                    <a href="#!registration/21" ng-click="admin_id=21;signText=' as a developer';" onclick="mover('registration')">Create a developer account</a>&nbsp;&bull;&nbsp;<a href="#!registration/11" ng-click="admin_id=11;signText='';" onclick="mover('registration')">Create an account</a>&nbsp;&bull;&nbsp;<a href="#" onclick="mover('forgot');">Forgot password?</a>
                </div>
            </form>
            <div style="height:50px;"></div>
        </div>
    </div>
    <div class="form" id="devhome">
        <div class="container-fluid">
            <br>
            <br>
            <br>
            <br>
            <h2 class="text-center">Thank you for signing up  as a developer.</h2>
            <hr>
            <h5 class="text-center">Soon, you'll start to receive emails from other Dust users looking for developers. You don't need to do anything else for now.</h5>
            <div style="height:50px;"></div>
        </div>
    </div>
    <div class="form" id="forgot">
        <div class="container-fluid">
            <br>
            <h2 class="text-center">Forgot your password?</h2>
            <hr>
            <div class="message"></div>
            <form>
                <div class="form-group">
                    <label for="pass_email">Email ID</label>
                    <input type="email" name="pass_email" id="pass_email" class="form-control" placeholder="The email ID you signed up with">
                </div>
                <br>
                <div class="text-right">
                    <button type="button" class="button" id="passbut" ng-click="validateReset()">Send reset link</button>
                </div>
            </form>
            <div style="height:50px;"></div>
        </div>
    </div>
    <div class="form" id="confirmforgot">
        <div class="container-fluid">
            <br>
            <h2 class="text-center">Reset your password</h2>
            <hr>
            <div class="message"></div>
            <form method="post" action="user/savePassword" name="confirmforgot">
                <div class="form-group">
                    <label for="npassword1">New password</label>
                    <input type="password" name="npassword1" id="npassword1" class="form-control" placeholder="A minimum of 8 characters">
                </div>
                <div class="form-group">
                    <label for="npassword2">Repeat password</label>
                    <input type="password" name="npassword2" id="npassword2" class="form-control" placeholder="Repeat the new password">
                </div>
                <br>
                <div class="text-right">
                    <button type="button" class="button" id="resetbut" ng-click="validatePasswords()">Reset</button>
                </div>
            </form>
            <div style="height:50px;"></div>
        </div>
    </div>
    <div class="form" id="filter">
        <div class="container-fluid">
            <br>
            <h2 class="text-center">Filters</h2>
            <h5 class="text-center">Go through individual user profiles and reach out to them with your message.</h5>
            <hr>
            <div class="message"></div>
            <form>
                <div class="form-group">
                    <label for="skilltype">Languages/skills</label>
                    <input type="text" class="form-control" name="skilltype" id="skilltype" placeholder="Ruby, PHP, Android, etc">
                </div>
                <div class="form-group">
                    <label for="usertype">Select user type</label>
                    <select class="form-control">
                        <option value="0">Choose ...</option>
                        <option value="11">Non-developers</option>
                        <option value="21">Developers</option>
                    </select>
                </div>
                <br>
                <div class="text-right">
                    <button type="button" class="button" id="skillsearch">Search</button>
                </div>
            </form>
            <div style="height:50px;"></div>
        </div>
    </div>
    <div style="position:fixed;z-index:2;top:25%;left:15%;width:70%;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;transition:all 0.5s ease;" id="choices">
        <div class="container">
            <h1 class="text-center" style="color:#ffffff;">Meet people to build your startup with.</h1>
            <h3 class="text-center" style="color:#ffffff;">For a one time fee of only $25.</h3>
            <br>
            <div class="row">
                <div class="col-sm-6" style="background-color:#E94000;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;cursor:pointer;"><h4 class="text-center" style="color:#ffffff;" onclick="mover('registration')" ng-click="admin_id=21;signText=' as a developer';">I'm a developer</h4></div>
                <div class="col-sm-6" style="background-color:#E94000;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;cursor:pointer;"><h4 class="text-center" style="color:#ffffff;" onclick="mover('registration')" ng-click="admin_id=11;signText=' as a non-developer';">I'm a non-developer</h4></div>
            </div>
        </div>
    </div>
    <div id="logo" onclick="mover('find');"></div>
    <div class="container-fluid">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
    <script type="text/javascript">
    <!--
    $('[data-toggle="tooltip"]').tooltip({
        trigger:'hover'
    });
    //-->
    </script>
</body>
{% endblock %}