{% extends "layout.html" %}
{% block content %}
<body ng-app="dust" ng-controller="mail" ng-init="loadMap()">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="images/dust-logo.png" class="img-responsive" width=80></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
    <div id="map"></div>
    <div id="form">
        <div class="container-fluid">
            <h1 class="text-center">Login to your account</h1>
            <hr>
            <form>
                <div class="form-group">
                    <label for="name">Your name</label>
                    <input type="text" class="form-control" placeholder="Enter your full name" name="name" id="name">
                </div>
            </form>
        </div>
    </form>
    <div class="container-fluid">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
</body>
{% endblock %}